# Node dependencies & caches
node_modules/
.npm-cache/
.npm/
dist/
dist-ssr/
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Logs & OS
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
